<html lang="en"style="background-color: black;">

<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
       button {
       
            margin-top: 50vh;
            color:rgba(255, 255, 255,100);
            text-shadow: 0px 0px 30px rgba(255, 255, 255,1);
            background-color: blueviolet;
            font-size: larger;
            display: flex;
            border:none;
            border-radius: 5px;
            border-color: blueviolet;
            box-shadow: 0px 0px 20px rgba(158, 0, 215, 0.5);
            transition: box-shadow 0.3s ease;
            
       }
       button:hover{
        box-shadow: 0px 0px 30px rgba(158, 0, 215, 1) ;
        transform: translatey(-10px);
       }

       div{
        justify-items: center;
       }
   </style>
   <div><button>glowing button</button></div>
    
</body>
</html>
